<div class="container mt-5">
  <header>
    <!-- Insérer ici le code HTML pour votre logo -->
    <img src="assets/votre-logo-ici.png" *ngIf="logo" alt="Logo de l'entreprise" id="logo" />
    <h2>Contrat de travail à Durée Indéterminée (CDI)</h2>
  </header>
  <div class="rubrique">
    <h3 style="margin-bottom: 20px">Entre les soussignés :</h3>
    <p>
      La société {{form?.value.nom_employe}} au capital de _______ DH, immatriculé sous le numéro
      _________ dont le siège social est situé à ________
    </p>
    <p>
      représentée par __________ , agissant en qualité de _____________ , d’une
      part,
    </p>
    <p>ci-après dénommée <b>"La société"</b></p>
    <p class="separateur">ET</p>
    <p>
      ________________ demeurant à (adresse), né(e) le __________ de nationalité
      __________ , Titulaire de la CIN : ________________
    </p>
    <p>d’autre part,</p>
    <p>ci-après dénommé <b>"le salarié"</b></p>
  </div>

  <div class="rubrique">
    <h3>Article I – Durée du contrat</h3>
    <p>
      M. / Mme _______ est embauché(e) à compter du __/___/__, pour une durée
      indéterminée, sous réserve des résultats de la visite médicale d’embauche.
      Le salarié déclare être libre de tout engagement auprès d’un autre
      employeur.
    </p>
  </div>

  <div class="rubrique">
    <h3>Article II – Fonctions</h3>
    <p>
      La société embauche le salarié à temps complet, en tant que __________.
    </p>
  </div>

  <div class="rubrique">
    <h3>Article III – Convention et règlement</h3>
    <p>
      Ce contrat en respecte les dispositions. Le salarié s’engage par ailleurs
      à respecter le règlement intérieur de la société dont il a pu prendre
      connaissance.
    </p>
  </div>

  <div class="rubrique">
    <h3>Article IV – Période d’essai</h3>
    <p>
      La prise de fonction du salarié débutera par une période d’essai de ______
      mois. Chaque partie sera libre de mettre un terme au contrat durant cette
      période, sans versement d’indemnités, en respectant le délai de préavis.
    </p>
  </div>

  <div class="rubrique">
    <h3>Article V – Congés payés</h3>
    <p>
      Conformément aux conditions légales et conventionnelles, le salarié a
      droit aux congés payés annuels.
    </p>
  </div>
  <div class="rubrique">
    <h3>Article VI – Lieu de travail</h3>
    <p>Le lieu de travail du salarié est situé à _______.</p>
  </div>
  <div class="rubrique">
    <h3>Article VII – Durée du travail</h3>
    <p>
      La durée légale de travail s’impose au salarié. Le Code du travail et la
      convention collective prévoient la possibilité de réaliser des heures
      supplémentaires.
    </p>
  </div>
  <div class="rubrique">
    <h3>Article VIII -Rémunération</h3>
    <p>
      Le salarié percevra un salaire mensuel brut de _______ DH, versé le
      dernier jour du mois.
    </p>
  </div>

  <div class="rubrique">
    <h3>Fait en double exemplaire à _______, le ___/__/__</h3>
    <div class="signatures">
      <div class="signature">
        <p>Signature de l’employeur,</p>
        <p>précédée de la mention « lu et approuvé » :</p>
        <!-- Insérer ici la signature de l'employeur -->
      </div>
      <div class="signature">
        <p>Signature du salarié,</p>
        <p>précédée de la mention « lu et approuvé » :</p>
        <!-- Insérer ici la signature de l'employeur -->
      </div>
    </div>
  </div>
</div>
