<div (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <div class="card-image">
    <a href="#" [routerLink]="['/show',card?.id]">
    <button class="use-this-model-btn" *ngIf="isHovered">
      Utiliser ce modéle
    </button>
    </a>
    <img [src]="card?.image" alt="cdi" />
  </div>
  <div class="category mt-1">
    {{ card?.category }} / {{ card?.type }} / {{ card?.sousType }}
  </div>
  <div class="heading mt-1 text-center">
    <a
      routerLink="/dash/projects/5"
      style="text-decoration: none; color: black"
    >
      {{ card?.titre }}</a
    >
  </div>
</div>
