.card {
    width: 260px;
    height: auto;
    background: white;
    padding: 0.4em;
    border-radius: 6px;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 760px) {
    .card {
      width: 240px;
      margin: auto;
      height: auto;
      background: white;
      padding: 0.4em;
      border-radius: 6px;
      margin-top: 10px;
    }
  }
  
  @media only screen and (max-width: 456px) {
    .card {
      width: 80%;
      margin: auto;
      height: auto;
      background: white;
      padding: 0.4em;
      border-radius: 6px;
      margin-top: 10px;
    }
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 300px;
    border-radius: 6px 6px 0 0;
    transform: scale(1);
    transition: transform 0.5s ease;
    position: relative;

  }
  
  .card-image img {
    width: 100%;
    height: 300px;
  }
  
  .card-image:hover {
    transform: scale(1.03);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  
  .use-this-model-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    width: 100%;
  }
  
  .card-image:hover .use-this-model-btn {
    display: block;
    z-index: 1; /* Bring the button above the image */
  }