.contrat {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 30px;
}
header {
  text-align: center;
  margin-bottom: 50px;
}
#logo {
  max-width: 100px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  margin: 10px 0;
}
.rubrique {
  margin-bottom: 40px;
}
.rubrique span {
  font-weight: bold;
}
.rubrique p {
  margin: 5px 0;
}
.signatures {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.signature {
  text-align: center;
}
.separateur {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.card-image:hover .use-this-model-btn {
  display: block;
}