<div class="container mt-5">
    <header>
        <!-- Insérer ici le code HTML pour votre logo -->
        <img src="/assets/votre-logo-ici.png" alt="Logo de l'entreprise" id="logo" />
        <h2>Attestation de travail</h2>
      </header>
      <div class="rubrique">
        <p>
          Nous soussignés société <b> _____________ </b> domiciliée à <b> _________________________ </b>
          attestons par la présente que Mr (Mlle)(Mme) <b>__________________________</b> , Immatriculé à la CNSS sous le numéro
          ______________________ , est employé au sein de notre société en qualité de <b>______________________</b>
        </p>
        <p class="separateur"></p>
        <p class="separateur"></p>
        <p>
          Et ce depuis le : <b>__/__/_____</b> à ce jour .
        </p>
        <p class="separateur"></p>
        <p class="separateur"></p>
        <p>La présente attestation lui est délivrée à sa demande pour servir et valoir ce que de droit.</p>
      <div class="rubrique">
          <p class="separateur"></p>
        <p>Fait à _______, le ___/__/__</p>
        <div class="signatures">
          <div class="signature">
            <p>Signature</p>
          </div>
        </div>
      </div>
</div>